@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --color-bg: #ffffff;
    /* --color-bg-2: #ffffff; */
    --color-primary: #ff9051;
    --color-secondary: #1daeff;
    --color-accent: #ffdaa3;
    --text-primary: #171717;
    --text-secondary: #878787;
    --text-tertiary: #f7f7f7;
    --font-primary: Poppins, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    font-family: var(--font-primary);
}
section {
    margin-block: 5em;
}
section .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1em;
}
section .header a,
.footer__lower a {
    color: var(--color-primary);
}
.header a:hover {
    color: var(--color-accent);
}
img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}
h2 {
    font-size: 2rem;
}
p {
    color: var(--text-secondary);
}
small {
    font-size: 0.6rem;
    color: var(--text-secondary);
}
.wrapper {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 2rem;
}
.btn,
button {
    border: 0;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: 500;
}
a {
    text-decoration: none;
}
form [type="submit"] {
    color: var(--color-bg);
    background-color: var(--color-secondary);
}
label,
select,
input {
    display: block;
}
label {
    color: var(--color-secondary);
}
input {
    color: var(--text-primary);
    /* width: 100%; */
}
.form-inline {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.1);
}
.form-inline button {
    min-width: 100px;
    /* flex-grow: 1; */
    border-radius: 0;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h1 {
    font-size: 1.125rem;
    font-weight: 800;
    color: var(--text-primary);
    opacity: 0.8;
}
.logo h1:hover {
    opacity: 1;
}
.logo img {
    width: 3rem;
    aspect-ratio: 1;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    letter-spacing: -1px;
    background: var(--color-bg);
}
header > div {
    margin-top: 0.5rem;
}
header > div,
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .btn {
    font-size: 0.85rem;
    padding: 0.4rem 2.3rem;
    background-color: var(--color-primary);
    color: var(--text-tertiary);
    font-weight: 600;
}
header .btn:hover {
    /* filter: brightness(0.9); */
    background-color: var(--color-accent);
}
header .mobile.mobile__nav-container {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-bg);
    min-width: 60vw;
    z-index: 1;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 40px;
    padding: 1rem;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    transform: translateX(100%);
    transition: all 0.25s;
}
header .mobile.mobile__nav-container.active {
    transform: translateX(0);
}
header .mobile ul {
    flex-direction: column;
    align-items: center;
}
header .mobile .btn {
    width: 100%;
}
header #menu-toggle {
    padding: 0;
    background-color: transparent;
    z-index: 100;
    color: var(--text-primary);
}
header #menu-toggle:hover {
    color: var(--color-primary);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
}
nav ul li a {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--text-secondary);
}
nav ul li a:hover {
    color: var(--text-primary);
}
.nav-item {
    position: relative;
}
.nav-item::before {
    content: "";
    position: absolute;
    top: 100%;
    height: 2px;
    width: 0;
    background-color: var(--color-primary);
    border-radius: 2px;
    transition: width 0.25s;
    transition-delay: 50ms;
}
.nav-item:hover::before,
.nav-item.active::before {
    width: 70%;
}

@media screen and (width <= 880px) {
    header > div > nav,
    header > div > a {
        display: none;
    }
}
@media screen and (width >= 880px) {
    .mobile {
        display: none;
    }
}

#hero {
    margin-top: 4em;
    margin-bottom: 3em;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1em 0;
}
#hero h2 {
    font-size: 3.5rem;
    max-width: min-content;
    line-height: 1.2;
    padding-bottom: 1em;
}
#hero h2 span {
    position: relative;
}
#hero h2 span .airplane {
    position: absolute;
    width: 300px;
    bottom: -70px;
    left: -20px;
}
@media screen and (width <= 720px) {
    #hero h2 span .airplane {
        display: none;
    }
}
.circle-bg {
    position: relative;
}
.circle-bg::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    aspect-ratio: 1;
    z-index: -1;
    border-radius: 50%;
    background-color: var(--color-accent);
}
#hero .hero__image {
    aspect-ratio: 1;
    flex: 1 1;
    min-width: 300px;
    max-width: 600px;
}
#hero .search-box .fields {
    display: flex;
    padding: 0.8rem;
    gap: 2rem;
    /* flex-wrap: wrap; */
}
#hero .search-box .field {
    flex: 1;
    position: relative;
    min-width: 80px;
    max-width: 100px;
}
#hero .search-box .field:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 1rem - 1px);
    height: 80%;
    border: 1px solid var(--text-secondary);
    opacity: 0.5;
}
#hero .search-box label {
    font-size: 0.6rem;
    padding-bottom: 4px;
}
#hero .search-box button {
    padding-left: 2rem;
}
#hero .search-box input,
#hero .search-box select {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* min-width: 15ch; */
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m112 184 144 144 144-144' fill='none' stroke='%231daeff' stroke-linecap='round' stroke-linejoin='round' stroke-width='48'/%3E%3C/svg%3E");
    background-size: 18px;
    background-position: right center;
    padding-right: 26px;
    background-repeat: no-repeat;
    width: 100%;
    color: var(--text-secondary);
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
}
@media screen and (width <= 880px) {
    #hero {
        align-items: center;
        overflow-x: visible;
        flex-direction: column;
    }
    #hero h2 span .airplane {
        bottom: -160px;
        left: 0;
    }
    #hero .hero__image {
        min-width: 200px;
    }
}
@media screen and (width <= 586px) {
    #hero .search-box,
    #hero .search-box .fields {
        flex-direction: column;
    }
    #hero .search-box .field {
        max-width: none;
    }
    #hero .search-box button {
        padding-left: 1rem;
    }
    #hero .search-box .field:not(:last-child)::after {
        content: none;
    }
}

.tabber__tabs {
    list-style: none;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: end; */
    row-gap: 0.5em;
    column-gap: 2em;
}
.tabber__tabs li {
    font-size: 0.875rem;
    opacity: 0.8;
    min-width: fit-content;
}
.tabber__tab {
    cursor: pointer;
}
.tabber__tabpanels {
    position: relative;
}
.tabber__tabpanel {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 1s, display 1s;
    transition-behavior: allow-discrete;
}
.tabber__tabpanel.active {
    position: relative;
    display: block;
    opacity: 1;
    @starting-style {
        display: block;
        opacity: 0;
    }
}
@media screen and (width <= 586px) {
    .tabber__tabs {
        flex-wrap: wrap;
        column-gap: 1em;
    }
}
.cards {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
    justify-items: center;
    padding-top: 2em;
}
.card {
    /* max-width: 400px; */
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}
.card:hover,
.card:first-child {
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
}
.card .card__image {
    aspect-ratio: 7/5;
    border-radius: 8px;
}
.card .card__description {
    padding: 1rem;
}
.card .card__heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0.5rem;
}
.card .card__heading h3 {
    font-size: 1.2rem;
}
.card .card__rating {
    color: var(--color-primary);
    font-size: 0.7rem;
    min-width: fit-content;
}
.card .card__rating .icon {
    width: 0.7rem;
}
.card .card__rating svg path {
    fill: var(--color-primary);
}
.card .card__location {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--text-secondary);
    font-size: 0.875rem;
}
.card .card__location .icon {
    width: 1rem;
    height: 1rem;
    color: var(--color-secondary);
}

#features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
#features .features__image {
    min-width: 300px;
    max-width: 450px;
}
#features .features__image::before {
    width: 75%;
    transform: translate(-45%, -45%);
}
#features .features__image > div {
    position: absolute;
    background-color: var(--color-bg);
    border-radius: 8px;
    display: flex;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}
#features .features__image .avatar {
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
    aspect-ratio: 1;
    width: 2rem;
}
#features .features__image .accounts {
    top: 20%;
}
#features .features__image .accounts .avatar {
    --_avatar-width: 1.5rem;
    /* display: inline-block; */
    margin-left: calc(var(--_avatar-width) * -0.2);
    width: var(--_avatar-width);
}
#features .features__image .accounts .avatar:first-child {
    margin-left: 0;
}
#features .features__image .review {
    top: 85%;
    left: 40%;
    align-items: center;
    gap: 0.5rem;
    padding-inline: 0.5rem;
}
#features .features__image .review p {
    font-size: 0.875rem;
    @media screen and (width <= 586px) {
        font-size: 0.7rem;
    }
}

#features .features__image .review .icon {
    width: 0.5rem;
    height: 0.5rem;
    & > * {
        fill: var(--color-primary);
    }
}
#features .features__inner h2 {
    padding-bottom: 1rem;
}
#features .features__inner p {
    padding-bottom: 1rem;
    font-size: 0.875rem;
}
#features .features__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    gap: 1rem 0;
}
#features .features__list .icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-primary);
}
#features .features__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-primary);
    font-size: 0.875rem;
}
#features .features__item span {
    padding: 0.5rem;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
#features .features__item:nth-child(3) svg {
    scale: 1.3;
}
@media screen and (width <= 880px) {
    #features {
        flex-direction: column;
        gap: 2rem;
        /* text-align: center; */
    }
    #features .features__list {
        /* max-width: 500px; */
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}
@media screen and (width <= 586px) {
    #features .features__list {
        grid-template-columns: 1fr 1fr;
    }
}
#stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
}
#stats .stat {
    position: relative;
    border-radius: 8px;
    aspect-ratio: 1;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    /* min-width: 130px; */
}
#stats .stat > * {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
#stats .stat__value {
    color: var(--color-primary);
    font-size: 2rem;
    top: 45%;
    transition: all 0.3s;
}
#stats .stat__title {
    color: var(--text-primary);
    bottom: 15%;
    font-size: 1rem;
}
#stats .stat:hover .stat__value {
    /* color: var(--color-accent); */
    scale: 1.1;
}
@media screen and (width <= 586px) {
    #stats {
        grid-template-columns: 1fr 1fr;
    }
}

#gallery .gallery__grid {
    margin-top: 2em;
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 120px;
    align-items: stretch;
}
#gallery .gallery__griditem {
    grid-row: span 2;
    overflow: hidden;
    border-radius: 8px;
}

#gallery .gallery__griditem--long {
    grid-row: span 3;
}
#partners .partners_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    filter: saturate(0%);
}
#partners .partners__listitem {
    flex: 1;
    max-width: 100px;
    min-width: 40px;
    opacity: 0.5;
    transition: opacity 0.3s;
    align-self: center;
}
#partners .partners__listitem:hover {
    opacity: 1;
}
#newsletter {
    gap: 2em;
    text-align: center;
}
#newsletter .newsletter__form {
    margin-block-start: 2em;
    margin-inline: auto;
    max-width: 500px;
}
#newsletter .newsletter__form > * {
    flex-grow: 1;
}
#newsletter button {
    max-width: 120px;
}
#newsletter input {
    outline: transparent;
    border: 0;
    padding: 1.2rem;
}
footer .icon {
    width: 1.2rem;
    height: 1.2rem;
}
.footer__upper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
    margin-bottom: 3em;
}
.footer__col {
    flex: 1;
    min-width: 150px;
}
.footer__col h3,
.footer__col .logo {
    margin-bottom: 2em;
}
.footer__col h3 {
    margin-top: 0.875rem;
}
.social-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    margin-top: 0.5em;
}
.social-links__item a svg {
    fill: var(--text-secondary);
}
.social-links__item a:hover svg {
    fill: var(--color-primary);
    color: var(--color-primary);
}
.social-links__item [data-icon="linkedin"] {
    scale: 1.2;
}
.footer__lower {
    text-align: center;
    color: var(--text-secondary);
    padding: 2em;
    border-top: 1px solid var(--text-secondary);
}
.footer__col .quicklinks {
    list-style: none;
}
.footer__col .quicklinks li {
    margin-bottom: 0.5em;
}
.footer__col a {
    color: var(--text-secondary);
}
.footer__col a:hover {
    color: var(--text-primary);
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.contact__item {
    display: flex;
    gap: 8px;
}
.contact__item .icon {
    min-width: 1.2rem;
    color: var(--color-primary);
}
